<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
     <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
  
    <app-sidebar [collapsed]="isSidebarCollapsed"></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!--BreadCrumbs-->
        <app-breadcrumbs></app-breadcrumbs>
        <!--Mi sistema de rutas-->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div> -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
      <footer class="footer">© 2025 MedInfo</footer>
    </div>
    
    
   
  </div>
  
