<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <!-- <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);"> -->
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material"
                    (submit)="login()"
                    id="loginform" action="index.html">
                        <div class="login-title m-b-20">
                            <img
                                class="login-title__img"
                                src="assets/images/login_blanco.png"
                                alt="Ingreso al Sistema"
                            />
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Username" 
                                [(ngModel)]="username" name="username"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" placeholder="Password"
                                [(ngModel)]="password" name="password"> </div>
                        </div>
                        <div class="form-group label-left">
                            <label>Módulo</label>
                            <select
                                class="custom-select col-12"
                                [(ngModel)]="modulo"
                                (ngModelChange)="seleccionarModulo()"
                                name="modulo"
                                >
                                <option value="0" disabled selected>Seleccione...</option>

                                @for (mod of listModulos; track mod.pk_mod) {
                                    <option [value]="mod.pk_mod">{{ mod.nombre_mod }}</option>
                                }
                            </select>
                        </div>
                        <div class="form-group label-left">
                            <label>Perfiles</label>
                            <select
                                class="custom-select col-12"
                                [(ngModel)]="perfil"
                                name="perfil"
                                >
                                <option value="0" disabled selected>Seleccione...</option>

                                @for (perfil of listPerfil; track perfil.pk_perfil) {
                                    <option [value]="perfil.pk_perfil">{{ perfil.nombre_perfil }}</option>
                                }
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit" [disabled]="!username || !password || modulo === 0 || perfil===0">Ingresar</button>
                            </div>
                        </div>
                       
                    </form>
                   
                </div>
            </div>
       <!--  </div> -->
    </section>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</div>