<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <h4 class="card-title">Opciones Módulo-Perfíl-Menú</h4>
      <h6 class="card-subtitle">
        Gestiona módulos-perfiles y opciones de menú asignados
      </h6>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#persona"
          role="tab"
          (click)="tabActivo = 'persona'"
          ><span class="hidden-sm-up"><i class="ti-home"></i></span>
          <span class="hidden-xs-down">Datos Persona</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#usuario"
          role="tab"
          (click)="tabActivo = 'usuario'"
          ><span class="hidden-sm-up"><i class="ti-user"></i></span>
          <span class="hidden-xs-down">Usuario</span></a
        >
      </li>
      <li class="nav-item" [hidden]="usuarioBody.pk_usuario === 0">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#firmas"
          role="tab"
          (click)="tabActivo = 'firmas'"
          ><span class="hidden-sm-up"><i class="ti-user"></i></span>
          <span class="hidden-xs-down">Firmas-Sello</span></a
        >
      </li>
      <li class="nav-item" [hidden]="usuarioBody.pk_usuario === 0">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#perfil"
          role="tab"
          (click)="tabActivo = 'perfil'"
          ><span class="hidden-sm-up"><i class="ti-user"></i></span>
          <span class="hidden-xs-down">Perfiles</span></a
        >
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="persona" role="tabpanel">
        <app-persona></app-persona>
      </div>
      <div class="tab-pane" id="usuario" role="tabpanel">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <!-- <pre>{{ usuarioBody | json }}</pre> -->
                <div class="row p-t-20">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">Login *</label>
                      <input
                        type="text"
                        class="form-control form-control-line"
                        [(ngModel)]="usuarioBody.login_usuario"
                        name="login_usuario"
                        placeholder="Ingrese"
                      />
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Activo</label>
                      <div class="switch">
                        <label>
                          <input
                            type="checkbox"
                            [(ngModel)]="usuarioBody.estado_usuario"
                            name="estado_usuario"
                          />
                          <span class="lever switch-col-red"></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Super-Usuario</label>
                      <div class="switch">
                        <label>
                          <input
                            type="checkbox"
                            [(ngModel)]="usuarioBody.super_usuario"
                            name="super_usuario"
                          />
                          <span class="lever switch-col-red"></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Es Médico?</label>
                      <div class="switch">
                        <label>
                          <input
                            type="checkbox"
                            [(ngModel)]="usuarioBody.doctor_usuario"
                            (ngModelChange)="
                              !$event
                                ? (usuarioBody.registrodoctor_usuario = null)
                                : null
                            "
                            name="doctor_usuario"
                          />
                          <span class="lever switch-col-red"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  @if (usuarioBody.doctor_usuario) {
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">N. Registro</label>
                      <input
                        type="text"
                        class="form-control form-control-line"
                        [(ngModel)]="usuarioBody.registrodoctor_usuario"
                        name="registrodoctor_usuario"
                        placeholder="Ingrese"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">N. Senecyt</label>
                      <input
                        type="text"
                        class="form-control form-control-line"
                        [(ngModel)]="usuarioBody.senecyt_usuario"
                        name="senecyt_usuario"
                        placeholder="Ingrese"
                      />
                    </div>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="firmas" role="tabpanel">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <!-- <pre>{{ usuarioBody | json }}</pre> -->
                <div class="row p-t-20">
                  <div class="col-lg-6 col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Firma</h5>
                        <h6 class="card-subtitle">Subir imagen de la firma</h6>
                        <div class="text-center">
                          @if (!imgFirmaTemp) {
                             <img [src]="verImagenFirmaSello('f')" class="img-avatar img-responsive" />
                          } @else {
                             <img [src]="imgFirmaTemp" class="img-avatar img-responsive" />
                          }
                         
                        </div>
                        <br>
                        <input
                          type="file"
                          #fileInputFirma
                          accept="image/png, image/jpeg, image/jpg"
                          (change)="cambiarImagenFirma(fileInputFirma.files?.[0])"
                        />
                        <br />
                        <br />
                        <button
                          type="button"
                          class="btn btn-success waves-effect waves-light m-r-10"
                          [disabled]="!imgFirma"
                          (click)="subirImagenFirma()"
                        >
                          <i class="fa fa-save"></i>
                          Guardar Firma
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Sello</h5>
                        <h6 class="card-subtitle">Subir imagen de la sello</h6>
                        <div class="text-center">
                          @if (!imgSelloTemp) {
                             <img [src]="verImagenFirmaSello('s')" class="img-avatar img-responsive" />
                          } @else {
                             <img [src]="imgSelloTemp" class="img-avatar img-responsive" />
                          }
                         
                        </div>
                        <br>
                        <input
                          type="file"
                          #fileInputSello
                          accept="image/png, image/jpeg, image/jpg"
                          (change)="cambiarImagenSello(fileInputSello.files?.[0])"
                        />
                        <br />
                        <br />
                        <button
                          type="button"
                          class="btn btn-success waves-effect waves-light m-r-10"
                          [disabled]="!imgSello"
                          (click)="subirImagenSello()"
                        >
                          <i class="fa fa-save"></i>
                          Guardar Sello
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="perfil" role="tabpanel">
        <app-usuario-perfil></app-usuario-perfil>
      </div>
    </div>

    @if (tabActivo !== 'perfil' && tabActivo !== 'firmas') {
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-12 d-flex justify-content-end gap-2">
                <button
                  type="button"
                  class="btn btn-success waves-effect"
                  (click)="guardarUsuarioPersona()"
                >
                  Guardar
                </button>
                <button
                  type="button"
                  class="btn btn-danger waves-effect"
                  (click)="cerrarUsuario()"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
