.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.table td.text-start {
  white-space: normal;
}

.texto-limitado {
  max-height: 6em;               /* ~5 líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-fila {
  background-color: #eaaabd !important; /* Morado claro */
}

.table tbody tr td {
  color: #000 !important;
}