<div class="row">
  <div class="col-12">
    <div id="skeleton-card" class="card w-100">
      <div class="card-body">
        <!-- Tabla -->
        <div class="table-responsive skeleton-table-container">
          <table class="table skeleton-table mb-0">
            <thead>
              <tr>
                @for (_ of headerCols; track $index) {
                <th scope="col">
                  <div class="skeleton skeleton-th"></div>
                </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (_ of rows; track $index) {
              <tr>
                <td>
                  <div class="skeleton skeleton-td skeleton-td--short"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-td"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-td"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-td skeleton-td--short"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-td skeleton-td--medium"></div>
                </td>
                <td>
                  <div class="skeleton-cell-actions">
                    <div class="skeleton skeleton-icon-btn"></div>
                    <div class="skeleton skeleton-icon-btn"></div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
