.skeleton {
  background-color: #e2e2e2;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #f4f4f4, transparent);
  animation: loading-skeleton 1.5s infinite;
}

@keyframes loading-skeleton {
  100% {
    left: 100%;
  }
}
