<app-info-paciente></app-info-paciente>
<div>
  <button
    class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
    (click)="seleccionarMenu()"
  >
    <i class="ti-settings text-white"></i>
  </button>
</div>

<div
  id="seleccionMenuModal"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Lista de Formularios</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          Seleccionar el formulario al que desea ingresar
          <div class="row">
            <div class="col-md-6 col-sm-6 p-20">
              <div class="list-group">
                <a
                 class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/hospitalizacion_inicio']"
                  (click)="cerrarMenuModal()"
                >
                  - Información Paciente
                </a>

                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/evolucion']"
                  (click)="cerrarMenuModal()"
                >
                  - Evolución
                </a>

                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/epicrisis']"
                  (click)="cerrarMenuModal()"
                >
                  - Epicrisis
                </a>
                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/protocolo']"
                  (click)="cerrarMenuModal()"
                >
                  - Protocolo Quirúrgico
                </a>
                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/interconsultas']"
                  (click)="cerrarMenuModal()"
                >
                  - Interconsultas
                </a>
                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/anamnesis']"
                  (click)="cerrarMenuModal()"
                >
                  - Anamnesis
                </a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 p-20">
              <div class="list-group">
                <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/signos']"
                  (click)="cerrarMenuModal()"
                >
                  - Signos Vitales
                </a>
               <a
                  class="list-group-item list-group-item-action text-primary"
                  [routerLink]="['/kardex']"
                  (click)="cerrarMenuModal()"
                >
                  - Adminsitración Medicamentos
                </a>
                 <a
                  class="list-group-item list-group-item-action text-primary pointer"
                  style="cursor: pointer;"
                  (click)="irAnexos()"
                >
                  - Anexos
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
