<app-menu-hospitalizacion></app-menu-hospitalizacion>
@if (loading) {
<app-skeleton-table></app-skeleton-table>
}

@if (!loading) {
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listado de Interconsultas</h4>
        <h6 class="card-subtitle">
          Gestión de información de Interconsultas del paciente asignado.
        </h6>

        <div class="row">
          <div class="col-md-4 form-group">
            <!-- <label>Fecha Desde</label> -->
            <input
              class="form-control"
              type="date"
              [(ngModel)]="fecha_desde"
              (ngModelChange)="filtroFechas()"
              name="fec_desde"
            />
          </div>

          <div class="col-md-4 form-group">
            <!-- <label>Fecha Hasta</label> -->
            <input
              class="form-control"
              type="date"
              [(ngModel)]="fecha_hasta"
              (ngModelChange)="filtroFechas()"
              name="fec_hasta"
            />
          </div>

          <div
            class="col-md-4 form-group d-flex justify-content-center"
            style="align-items: center; height: 100%"
          >
            <button
              class="btn btn-info"
              type="button"
              (click)="nuevoInterconsultaSolicitud()"
              style="padding: 8px 20px; font-weight: bold"
            >
              Nuevo
            </button>
          </div>
        </div>

        <!--  <div class="col-lg-12 text-right"></div> -->

        <!--  -->
        <div class="col-lg-12">
          <div class="table-responsive pointer">
            <table class="table full-color-table full-info-table hover-table">
              <thead>
                <tr>
                  <th style="width: 10%" scope="col">FECHA CREACIÓN</th>
                  <th style="width: 10%" scope="col">HORA CREACIÓN</th>
                  <th style="width: 15%" scope="col">ESPECIALIDAD ORIGEN</th>
                  <th style="width: 15%" scope="col">ESPECIALIDAD DESTINO</th>
                  <th style="width: 30%" scope="col">USUARIO CREACIÓN</th>
                  <th style="width: 10%" scope="col">CONTESTADA</th>
                  <th style="width: 10%" scope="col">ACCIÓN</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tbody>
                @for (item of interconsultaList; track item.pk_intersol) {
                <tr>
                  <td data-label="FECHA CREACIÓN">
                    <div>{{ item.fecha_inicio }}</div>
                  </td>
                  <td data-label="HORA CREACIÓN">
                    <div>{{ item.hora_inicio }}</div>
                  </td>
                  <td data-label="ESPECIALIDAD ORIGEN">
                    <div>
                      {{
                        item.caracteristicas_solicitud_intersol.especialidad
                          .especialidad_origen
                      }}
                    </div>
                  </td>
                  <td data-label="ESPECIALIDAD DESTINO">
                    <div>
                      {{
                        item.caracteristicas_solicitud_intersol.especialidad
                          .especialidad_destino
                      }}
                    </div>
                  </td>

                  <td data-label="USUARIO CREACIÓN">
                    <div>
                      {{ item.medico_apellidopat_persona }}
                      {{ item.medico_apellidomat_persona }}
                      {{ item.medico_nombre_primario_persona }}
                      {{ item.medico_nombre_secundario_persona }}
                    </div>
                    <div>{{ item.medico_numidentificacion_persona }}</div>
                  </td>

                  <td data-label="CONTESTADA">
                    <div>
                      {{ item.contestada === "SI" ? "✔️" : "❌" }}
                    </div>
                  </td>

                  <td data-label="ACCIÓN">
                    <div class="btn-group d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ti-settings"></i>
                      </button>
                      <div class="dropdown-menu pointer">
                        @if(item.contestada === 'NO'){
                        <a
                          class="dropdown-item pointer"
                          style="cursor: pointer;"
                          (click)="nuevoInterconsultaInforme(item.pk_intersol)"
                          >Informe</a
                        >
                        }

                        <a
                          class="dropdown-item pointer"
                          style="cursor: pointer;"
                          (click)="editarInterconsultaSolicitud(item)"
                          >Editar/Ver Solicitud</a
                        >
                        @if(item.contestada === 'SI'){
                        <a
                          class="dropdown-item pointer"
                          style="cursor: pointer;"
                          (click)="editarInterconsultaInforme(item)"
                          >Editar/Ver Informe</a
                        >
                        }

                        <a
                          class="dropdown-item pointer"
                          style="cursor: pointer;"
                          (click)="imprimirInterconsulta(item)"
                          >Imprimir</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <br />
            <div class="text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-info"
                  [disabled]="numeracion === 1"
                  (click)="retroceder()"
                >
                  <i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-info">
                  {{ numeracion }}
                </button>
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="avanzar()"
                  [disabled]="!sig"
                >
                  <i class="fa fa-fast-forward"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- Aqui Table -->
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
}
