<app-menu-hospitalizacion></app-menu-hospitalizacion>

@if (loading) {
<app-skeleton-table></app-skeleton-table>
}

@if (!loading) {
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listado de Anamnesis</h4>
        <h6 class="card-subtitle">
          Gestión de información de Anamnesis del paciente asignado.
        </h6>

        <div class="row">
          <div class="col-md-4 form-group">
            <input
              class="form-control"
              type="date"
              [(ngModel)]="fecha_desde"
              (ngModelChange)="filtroFechas()"
              name="fec_desde"
            />
          </div>

          <div class="col-md-4 form-group">
            <input
              class="form-control"
              type="date"
              [(ngModel)]="fecha_hasta"
              (ngModelChange)="filtroFechas()"
              name="fec_hasta"
            />
          </div>

          <div
            class="col-md-4 form-group d-flex justify-content-center"
            style="align-items: center; height: 100%"
          >
            <button
              class="btn btn-info"
              type="button"
              (click)="nuevoAnamnesis()"
              style="padding: 8px 20px; font-weight: bold"
            >
              Nuevo
            </button>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="table-responsive pointer">
            <table class="table full-color-table full-info-table hover-table">
              <thead>
                <tr>
                  <th style="width: 10%" scope="col">FECHA/HORA INICIO</th>
                  <th style="width: 10%" scope="col">FECHA/HORA FIN</th>
                  <th style="width: 40%" scope="col">MOTIVO DE CONSULTA</th>
                  <th style="width: 20%" scope="col">RESPONSABLE</th>
                  <th style="width: 10%" scope="col">APROBADO</th>
                  <th style="width: 10%" scope="col">ACCIÓN</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tbody>
                @for (item of anamnesisList; track item.pk_anam) {
                <tr>
                  <td data-label="FECHA/HORA INICIO">
                    <small>
                      <div>{{ item.fecha_inicio }}</div>
                      <div>{{ item.hora_inicio }}</div>
                    </small>
                  </td>

                  <td data-label="FECHA/HORA FIN">
                    <small>
                      <div>{{ item.fecha_fin }}</div>
                      <div>{{ item.hora_fin }}</div>
                    </small>
                  </td>

                  <td data-label="MOTIVO DE CONSULTA" class="text-start">
                    @if (item.motivo_consulta_anam?.length < 200) {
                    <textarea
                      class="form-control form-control-sm"
                      rows="5"
                      readonly
                      name="motivo_{{ item.pk_anam }}"
                      >{{ item.motivo_consulta_anam }}</textarea
                    >
                    } @else {
                    <div
                      class="texto-limitado"
                      [title]="item.motivo_consulta_anam"
                    >
                      {{ item.motivo_consulta_anam }}....
                    </div>
                    }
                  </td>

                  <td data-label="RESPONSABLE">
                    <small>
                      <div>
                        {{ item.medico_apellidopat_persona }}
                        {{ item.medico_apellidomat_persona }}
                        {{ item.medico_nombre_primario_persona }}
                        {{ item.medico_nombre_secundario_persona }}
                      </div>
                      <div>{{ item.medico_numidentificacion_persona }}</div>
                    </small>
                  </td>

                  <td data-label="APROBADO">
                    @if (item.estado_anam) {
                    <button
                      type="button"
                      class="btn btn-success btn-circle"
                      (click)="desaprobarAnamnesis(item)"
                    >
                      <i class="fa fa-check"></i>
                    </button>
                    } @else{
                    <button
                      type="button"
                      class="btn btn-danger btn-circle"
                      (click)="aprobarAnamnesis(item)"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                    }
                  </td>

                  <td data-label="ACCIÓN">
                    <div class="btn-group d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ti-settings"></i>
                      </button>
                      <div class="dropdown-menu pointer">
                        <a
                          class="dropdown-item pointer"
                          (click)="editarAnamnesis(item)"
                          style="cursor: pointer;"
                          >Ver/Editar</a
                        >

                        <a
                          class="dropdown-item pointer"
                          (click)="imprimirAnamnesis(item.pk_anam)"
                          style="cursor: pointer;"
                          >Imprimir</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <br />
            <div class="text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-info"
                  [disabled]="numeracion === 1"
                  (click)="retroceder()"
                >
                  <i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-info">
                  {{ numeracion }}
                </button>
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="avanzar()"
                  [disabled]="!sig"
                >
                  <i class="fa fa-fast-forward"></i>
                </button>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
}
