<!-- <pre>{{ historiaclinicaList | json }}</pre> -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulario Historia Clínica</h4>
        <h6 class="card-subtitle">Lista de Historias Clínicas.</h6>
        <div class="col-lg-12">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Búsqueda..."
              [(ngModel)]="bsqHistoriaClinica"
              (ngModelChange)="bsqHistoriaClinica = $event.toUpperCase()"
              (keyup)="buscarHistoriaClinica()"
            />
            <span class="input-group-btn">
              <button
                class="btn btn-info"
                type="button"
                (click)="nuevoHistoriaClinica()"
              >
                Nuevo
              </button>
            </span>
          </div>

          <!-- Aqui Table -->
          <br />
          @if (loading) {
          <app-skeleton-table></app-skeleton-table>
          } @else {
          <div class="table-responsive pointer">
            <table class="table full-color-table full-info-table hover-table">
              <thead>
                <tr>
                  <th scope="col">#IDENTIFICACIÓN</th>
                  <th scope="col">NOMBRES</th>
                  <th scope="col">APELLIDOS</th>
                  <th scope="col">SEXO</th>
                  <th scope="col">EDAD</th>
                  <th scope="col">ACCIÓN</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tbody>
                @for (item of historiaclinicaList; track item.pk_hcu) {
                <tr>
                  <td data-label="#IDENTIFICACIÓN">
                    {{ item.numidentificacion_persona }}
                  </td>
                  <td data-label="NOMBRES">
                    {{ item.nombre_primario_persona }}
                    {{ item.nombre_secundario_persona }}
                  </td>
                  <td data-label="APELLIDOS">
                    {{ item.apellidopat_persona }}
                    {{ item.apellidomat_persona }}
                  </td>
                  <td data-label="SEXO">
                    {{ item.sexo }}
                  </td>
                  <td data-label="EDAD">
                    {{ item.edad.valor }} {{ item.edad.tipo }}
                  </td>
                  

                  <td data-label="ACCIÓN">
                    <div class="btn-group d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ti-settings"></i>
                      </button>
                      <div class="dropdown-menu pointer">
                        <a
                          class="dropdown-item pointer"
                          (click)="editarHistoriaClinica(item.pk_hcu)"
                          >Editar</a
                        >
                        <a
                          class="dropdown-item pointer"
                          (click)="historialClinico(item.pk_hcu)"
                          >Historial Clínico</a
                        >
                        <a
                          class="dropdown-item pointer"
                          (click)="anexosHistoriaClinica(item.pk_hcu)"
                          >Anexos</a
                        >
                       
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <br />
            <div class="text-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-info"
                  [disabled]="numeracion === 1"
                  (click)="retoceder()"
                >
                  <i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-info">
                  {{ numeracion }}
                </button>
                <button type="button" class="btn btn-info" (click)="avanzar()">
                  <i class="fa fa-fast-forward"></i>
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

