/* You can add global styles to this file, and also import other style files */


#themecolors .selector{
    cursor:pointer;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }


}

.table td.text-start {
  white-space: normal;
}

.texto-limitado {
  max-height: 6em;               /* ~5 líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;                  /* fallback genérico */
  -webkit-line-clamp: 5;         /* para navegadores WebKit */
  line-clamp: 5;                 /* propiedad estándar */
  -webkit-box-orient: vertical;
  box-orient: vertical;          /* estándar */
  font-size: 0.9rem;
}

.img-avatar {
  width: 300px;      /* Ancho fijo */
  height:200px;     /* Alto fijo */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-radius: 4px; /* opcional, esquinas suaves */
}

.overflow-visible { 
  overflow: visible !important;         /* o solo: overflow-y: visible; */
}








/* Bloque skeleton genérico */
.skeleton {
  background-color: #e2e2e2;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* Efecto shimmer (brillo que pasa) */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #f4f4f4, transparent);
  animation: loading-skeleton 1.5s infinite;
}

/* Animación */
@keyframes loading-skeleton {
  100% {
    left: 100%;
  }
}
